
/*Aqui van a ir los imports de las tipografias, es decir lo tipos de letras que va
a tener la interfaz*/

/*1. La primera tipografia seleccionada(puede estar sujeta a cambios es Chakra Petch*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*2.La segunda tipografia seleccionad es Fuzzy Bubles, esta va destinada al texto que aparce abajo en la interfaz*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'PokemonSolid';
    src: url('../assets/pkmn_rbygsc/PKMN\ RBYGSC.ttf') format('truetype');
  }
 /* Aqui van las variables  */
:root{

   /* Variables del tipo de fuente*/
   --font-family-primary:"PokemonSolid",sans-serif;
   --font-family-secondary:"Space Mono",sans-serif;

   /*Tamaños de fuentes*/
   --font-size-header: 1rem;

   /* Variables de colores de fondo con sus variantes*/
   --color-background:	#800000;
   --color-background-variant1:#DDDDDD;
   --color-background-variant2:#D04848;
   --color-background-variant3:#200000;
   --color-background-variant4:#000000;

   /* Variables de colores de fondo con sus variantes*/
   /*Aqui en este caso no hay mucho variedad*/
   /*Este para el boton*/
   --color-text:#A52A2A;
   --color-text-variant1:#FFFFFF;
   --color-text-variant2:#FFA4A4;
   --color-text-variant3:#3F0000;
   --color-text-variant4:#000000;

   /* Variables de colores de acentuacion con sus variantes*/
   --color-emphasis:#CD853F;
   --color-emphasis-variant1:#FFFFFF;
   --color-emphasis-variant2:#FFD8B1;
   --color-emphasis-variant3:#703700;
   --color-emphasis-variant4:#010100;

   /* Variables de colores de repuesto con sus variantes*/
   --color-test:#8B4513;
   /*La variante 1 para el texto*/
   --color-test-variant1:#FFFFFF;
   --color-test-variant2:#FFCCA8;
   --color-test-variant3:#130800;
   --color-test-variant4:#000000;

   /*Variables de los gradientes que hay que escoger*/
   --color-gradiente-primary-version1: linear-gradient(0deg, rgba(128,0,0,1) 0%, rgba(165,42,42,1) 26%, rgba(191,102,56,1) 99%, rgba(139,69,19,1) 100%);  
   /*Version2 para el fondo*/
   --color-gradiente-primary-version2:linear-gradient(180deg, rgba(165,42,42,1) 23%, rgba(205,133,63,1) 49%, rgba(128,0,0,1) 98%, rgba(139,69,19,1) 100%);
   
   --color-gradiente-primary-version3:linear-gradient(85deg, rgba(128,0,0,1) 36%, rgba(139,69,19,1) 46%, rgba(191,102,56,1) 52%, rgba(165,42,42,1) 93%);
   --color-gradiente-emphasis-version1:linear-gradient(85deg, rgba(255,164,164,1) 36%, rgba(208,72,72,.0) 100%);

   --color-gradiente-emphasis-version-fondo:linear-gradient(85deg, rgba(255,164,164,.8) 36%, rgba(208,72,72,.5) 100%);
   --color-gradiente-emphasis-version2:linear-gradient(85deg, rgba(63,0,0,1) 72%, rgba(19,8,0,1) 100%);
   
   --color-gradiente-borde-metalico-linear:linear-gradient(45deg, rgba(212,215,0,1) 0%, rgba(229,228,226,1) 50%, rgba(176,196,222,1) 100%);
   --color-gradiente-borde-metalico-brillante: linear-gradient(45deg, #ffd700, #ffffff, #b0e0e6);
   --color-gradiente-shinnig:linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
   /*Variables de los margenes paddings etc que hay que escoger*/
   --spacing-xs:.5rem;
   --spacing-sm:.7rem;
   --spacing-md: 1rem;
   --spacing-lg: 1.5rem;
   --spacing-xl: 2.0rem;
}

h1{
    font-family: var(--font-family-secondary);
}
/*
h1, h2, h3, h4, h5{
    font-family: var(--font-family-primary);
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;
}
p{
    font-family: var(--font-family-secondary);
}

.primera1{
    
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-test-variant1);
}
.primera2{
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-test-variant1);
}

.primera3{
    color:var(--color-test-variant1)!important;
    background-color: var(--color-text);
    font-family: var(--font-family-primary);
    margin-top: 1rem;
    border-radius: 10%;
    border:none;
    padding: 1rem;
    font-weight: bold;
}

.tercera1{
    font-family: var(--font-family-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-text);
}
.tercera2{
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-text);
}

.tercera3{
    color:var(--color-test-variant3)!important;
    background-color: var(--color-text);
    font-family: var();
    margin-top: 1rem;
    border-radius: 10%;
    border:none;
    padding: 1rem;
    font-weight: bold;
}

.fondo{
    padding: 2rem;
    margin: 10rem;
    gap: 1rem;
    border: solid 1px black;
    background:var(--color-gradiente-emphasis-version2) ;
}

.fondo2{
    width: 50dvw;
    padding: 2rem;
    margin: 10rem;
    gap: 1rem;
    border: solid 1px black;
    background: var(--color-gradiente-emphasis-version2);
}

.sexta1{
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-text);
}
.sexta2{
    font-family: var();
    text-overflow: ellipsis;
    white-space: nowrap;         
    overflow: hidden;
    color: var(--color-text);
}
.sexta3{
    color:var(--color-text)!important;
    background-color: var(--color-background);
    font-family: var(--font-family-primary);
    margin-top: 1rem;
    border-radius: 10%;
    border:none;
    padding: 1rem;
    font-weight: bold;
}
.fondo5{
    padding: 2rem;
    gap: 1rem;
    margin: 10rem;
    border: solid 1px black;
    background:var(--color-gradiente-emphasis-version2)
}
.gradiente{
    background:var(--color-gradiente-primary-version1);
    width: 100%;
    height: 100%;
}
    */
