
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Brawler:wght@400;700&family=Dorsa&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monofett&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sahitya:wght@400;700&family=Shojumaru&family=Wire+One&display=swap');
:root{
    --font-primary:"Azeret Mono", monospace;
    --color-background: black;
    --color-borde:rgb(183, 38, 38);
    --color-text:white;
    --font-weight-ligth: 100;
    --font-size-subtitle: 1rem;
    --font-size-title: 1.56rem;
    --letter-spacing-subtitle:0.09rem;
    --color-gradiente: 90deg, rgba(244,191,191,0.3) 20%, rgba(231,91,91,.3) 60%, rgba(217,70,70,.3) 80%;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    gap: 1rem;
    place-items: center;
    background-color:var(--color-background);
    font-family: var(--font-primary);
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    color: var(--color-text);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.titulo{
    font-size: var(--font-size-title);
    
}
.subtitulo{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-ligth);
    opacity: .5;
    letter-spacing:var(--letter-spacing-subtitle) ;

}
button{
    border:1px solid var(--color-borde);
    padding: .3rem 1rem ;
    margin: 1rem;
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-background);
    border-radius: .5rem;
    font-size: var(--font-size-subtitle);
    box-shadow:0rem 0rem 3rem rgba(255, 0, 0, 0.3) ;
}
.shakes{
    animation: moverBoton 1s  infinite;
}
@keyframes moverBoton{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(2rem);
    }
    100%{
        transform: translateX(-.5rem);
    }
}
.pulse{
    animation:agrandar 2s infinite ;
}
@keyframes agrandar{
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(150%);
    }
    100%{
        transform: scale(100%);
    
    }
}
.glitch{
    animation: glichear .5s infinite;
}
@keyframes glichear{
    0%{
        transform:skewX() ;
    }
    25%{
        transform:skewX(-20deg) skewY(-20deg) ;
    }
    50%{
        transform:skewX(50deg) skewY(10deg) ;  
    }
    75%{
        transform:skewX(86deg) skewY(0deg) ;  
    }
    100%{
        transform:skewX() ;
    }
}
.turn{
    animation: voltear 3s infinite;
}
@keyframes voltear{
    0%{
        transform:rotateY(0deg) ;
    }
    50%{
        transform:rotateY(-90deg) ;  
    }
    100%{
        transform:rotateY(-180deg) ;
    }

}
.fill{
    position: relative;
    overflow: hidden;
    
}
.fill::after{
    content: "";
    box-shadow: 1rem 0rem 1rem rgba(255, 0, 0, 0.3);
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--color-borde);
    position: absolute;
    box-sizing: border-box;
    animation: rellenar 3s infinite 
}
@keyframes rellenar{
    to{width: 100%;};

}


.sheen{
    position: relative;
    overflow: hidden;
}
.sheen::after {
    content: "";
    position: absolute;
    top:-100%;
    left: 0%; 
    width: 30%; 
    height: 400%; 
    background: linear-gradient(var(--color-gradiente));
    animation: shining 1s infinite ease-in-out;
    filter: blur(12px);
}

@keyframes shining {
    0% {
        transform: translateX(-150%) rotate(-45deg); ; 
    }
    100% {
        transform: translateX(500%) rotate(-45deg); ; 
    }
}


.empashize{
    animation:brillar 3s ease-in-out infinite ;
}
@keyframes brillar{
    0% {
        box-shadow: 0 0 0.2rem rgba(255, 0, 0, 0); 
      }
      25% {
        box-shadow: 0rem 0rem 2rem rgba(255, 0, 0, 0.3); 
      }
      50% {
        box-shadow: 0rem 0rem 3rem rgba(255, 14, 14, 1); 
      }
      75% {
        box-shadow: 0rem 0rem 2rem rgba(255, 14, 14, 0.3); 
      }

      100% {
        box-shadow: 0 0 0rem rgba(255, 0, 0, 0); 
      }
}
.blur{
    animation: blur 4s ease-in-out infinite;
}
@keyframes blur{
    0% {
         filter: blur(0rem);
      }
      25% {
        filter: blur(.5rem);
      }
      50% {
        filter: blur(1rem);
        transform:skewX(30deg) skewY(10deg)
      }
      75% {
        filter: blur(.5rem);
      }

      100% {
        filter: blur(0rem);
      }
}
.hawk{
animation: antonioAguilas 1.5s ease-in-out infinite ;
}
@keyframes antonioAguilas{
    0% {
        transform: rotate(0deg ) ;
     }
   

     100% {
        transform: rotate(900deg)    ;
     }
}